import re

def is_valid_russian_phone_number(phone_number):
    # Паттерн для распознавания российского номера телефона
    pattern = re.compile(r'^\+7\s?\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}$')

    # Проверка совпадения строки с паттерном
    match = pattern.match(phone_number)

    # Вернуть True, если совпадение найдено, иначе False
    return bool(match)

# Пример использования
russian_phone_number = "+79123456789"
if is_valid_russian_phone_number(russian_phone_number):
    print(f"{russian_phone_number} - Это синтаксически корректный российский номер телефона.")
else:
    print(f"{russian_phone_number} - Это синтаксически некорректный российский номер телефона.")
